name: All checks

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Set up Just
        uses: extractions/setup-just@v3
        with:
          just-version: 1.43.0
      - name: Install poetry
        run: |
          curl -sSL 'https://install.python-poetry.org' | python
          echo "$HOME/.poetry/bin" >> "$GITHUB_PATH"
      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry run pip install -U pip
          poetry install
      - name: Run type and lint checks
        run: make typing lint
